SQLAlchemy==2.0.42
alembic==1.16.4
python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.10.1
fastapi==0.116.1
starlette==0.47.2
uvicorn==0.35.0
PyJWT==2.10.1
bcrypt==4.3.0
python-multipart==0.0.20